* , *::before , *::after{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.app{
  width: 100%;
  display: flex;
  justify-content:center ;
  margin:auto;

}
.login{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items:center ;
}
.login .login-btn{
  /* width:3.1em;
  background-color: blue; */
}
.sort-date,
.filter{
  display: flex;
  justify-content: center;
}
.sort-date .sort-btn,
.sort-date span,
.filter .filter-btn,
.filter .filter-input{
  padding: 1em;
}

.table-view{
  width: 100vw;
  display: flex;
  justify-content: center;
}
.table-view .table-container{
  width:80vw;
}
.table-view h1,
.table-view table {
  width:100%;

}
.table-view td{
  text-align: center;
}
